    <!-- jQuery -->
    <script src='Scripts/jquery.js'></script>

    <!-- Bootstrap Core JavaScript -->
    <script src='Scripts/bootstrap.min.js'></script>

    <!-- Plugin JavaScript -->
    <script src='Scripts/jquery.easing.min.js'></script>
    <script src='Scripts/jquery.fittext.js'></script>
    <script src='Scripts/wow.min.js'></script>

    <!-- Custom Theme JavaScript -->
    <script src='Scripts/creative.js'></script>

</body>

</html>